<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= title %>(Views <%= views%>)</h1>
    <nav>
      <ul>
        <li>
          <a href="/orders">New Order</a>
        </li>
      </ul>
    </nav>
    <p>Welcome to <%= title %></p>

    <% if (newOrder) {%>
    <pre>
      <%= JSON.stringify(newOrder)%>
    </pre>

    <%}%>
  </body>
</html>
